@model HealthyLineProject.Models.FoodMainCategoriesModel
@using (Html.BeginForm())
{
    <fieldset>
        <legend>Calorie Guide</legend>
        <ul>
            <li>
                <fieldset>
                    <legend>BREADS & CEREALS</legend>
                    <select name="Food Name">
                        <optgroup label="BREADS & CEREALS ">
                            <option>
                                Bagel ( 1 average )
                            </option>
                            <option>
                                Biscuit digestives
                            </option>
                            <option>
                                Jaffa cake
                            </option>
                            <option>
                                Bread white (thick slice)
                            </option>
                            <option>
                                Bread wholemeal (thick)
                            </option>
                            <option>
                                Chapatis
                            </option>
                            <option>
                                Cornflakes
                            </option>
                            <option>
                                Crackerbread
                            </option>
                            <option>
                                Cream crackers
                            </option>
                            <option>
                                Crumpets
                            </option>
                            <option>
                                Flapjacks basic fruit mix
                            </option>
                            <option>
                                Macaroni (boiled)
                            </option>
                            <option>
                                Muesli
                            </option>
                            <option>
                                Naan bread (normal)
                            </option>
                            <option>
                                Noodles (boiled)
                            </option>
                            <option>
                                Pasta ( normal boiled)
                            </option>
                            <option>
                                Pasta (wholemeal boiled)
                            </option>
                            <option>
                                Porridge oats (with water)
                            </option>
                            <option>
                                Potatoes** (boiled)
                            </option>
                            <option>
                                Rice (white boiled)
                            </option>
                            <option>
                                Rice (egg-fried)
                            </option>
                            <option>
                                Rice ( Brown )
                            </option>
                            <option>
                                Rice cakes
                            </option>
                            <option>
                                Ryvita Multi grain
                            </option>
                            <option>
                                Ryvita + seed & Oats
                            </option>
                            <option>
                                Spaghetti (boiled)
                            </option>

                        </optgroup>

                    </select>
                </fieldset>
            </li>

            <li>
                <fieldset>
                    <legend>Meats & Fish</legend>
                    <select name="Food Name">
                        <optgroup label="Meats & Fish">
                            <option>Anchovies tinned</option>
                            <option>Bacon average fried</option>
                            <option>Bacon average grilled</option>
                            <option>Beef (roast)</option>
                            <option>Beef burgers frozen</option>
                            <option>Chicken </option>
                            <option>Cockles </option>
                            <option>Cod fresh</option>
                            <option>Cod chip shop food</option>
                            <option>Crab fresh</option>
                            <option>Duck roast</option>
                            <option>Fish cake</option>
                            <option>Fish fingers</option>
                            <option>Gammon</option>
                            <option>Haddock fresh</option>
                            <option>Halibut fresh</option>
                            <option>Ham</option>
                            <option>Herring fresh grilled</option>
                            <option>Kidney</option>
                            <option>Kipper</option>
                            <option>Liver</option>
                            <option>Liver pate</option>
                            <option>Lamb (roast)</option>
                            <option>Lobster boiled</option>
                            <option>Luncheon meat</option>
                            <option>Mackeral</option>
                            <option>Mussels</option>
                            <option>Pheasant roast</option>
                            <option>Pilchards (tinned)</option>
                            <option>Prawns</option>
                            <option>Pork </option>
                            <option>Pork pie</option>
                            <option>Rabbit</option>
                            <option>Salmon fresh</option>
                            <option>Sardines tinned in oil</option>
                            <option>Sardines in tomato sauce</option>
                            <option>Sausage pork fried</option>
                            <option>Sausage pork grilled</option>
                            <option>Sausage roll</option>
                            <option>Scampi fried in oil</option>
                            <option>Steak & kidney pie</option>
                            <option>Taramasalata</option>
                            <option>Trout fresh</option>
                            <option>Tuna tinned water</option>
                            <option>Tuna tinned oil</option>
                            <option>Turkey</option>
                            <option>Veal</option>

                        </optgroup>
                    </select>
                </fieldset>
            </li>

            <li>
                <fieldset>
                    <legend>Fruits & Vegetables</legend>

                    <select name="Food Name">
                        <optgroup label="Fruits & Vegetables">
                            <option>Apple</option>
                            <option>Banana</option>
                            <option>Beans baked beans</option>
                            <option>Beans dried (boiled)</option>
                            <option>Blackberries</option>
                            <option>Blackcurrant</option>
                            <option>Broccoli</option>
                            <option>Cabbage (boiled)</option>
                            <option>Carrot (boiled)</option>
                            <option>Cauliflower (boiled)</option>
                            <option>Celery (boiled)</option>
                            <option>Cherry</option>
                            <option>Courgette</option>
                            <option>Cucumber</option>
                            <option>Dates</option>
                            <option>Grapes</option>
                            <option>Grapefruit</option>
                            <option>Kiwi</option>
                            <option>Leek (boiled)</option>
                            <option>Lentils (boiled)</option>
                            <option>Lettuce</option>
                            <option>Melon</option>
                            <option>Mushrooms raw one average</option>
                            <option>Mushrooms (boiled)</option>
                            <option>Mushrooms (fried)</option>
                            <option>Olives</option>
                            <option>Onion (boiled)</option>
                            <option>One red Onion</option>
                            <option>Onions spring </option>
                            <option>Onion (fried)</option>
                            <option>Orange</option>
                            <option>Peas</option>
                            <option>Peas dried & boiled</option>
                            <option>Peach</option>
                            <option>Pear</option>
                            <option>Pepper yellow</option>
                            <option>Pineapple</option>
                            <option>Plum</option>
                            <option>Spinach</option>
                            <option>Strawberries (1 average)</option>
                            <option>Sweetcorn</option>
                            <option>Sweetcorn on the cob</option>
                            <option>Tomato</option>
                            <option>Tomato cherry</option>
                            <option>Tomato puree</option>
                            <option>Watercress</option>


                        </optgroup>
                    </select>
                </fieldset>
            <li>
                <fieldset>
                    <legend>Milk & Dairy produce</legend>
                    <select name="Food Name">
                        <optgroup label="Milk & Dairy produce">
                            <option>Cheese average</option>
                            <option>Cheddar types average reduced fat</option>
                            <option>Cheese spreads average</option>
                            <option>Cottage cheese low fat</option>
                            <option>Cottage cheese</option>
                            <option>Cream cheese</option>
                            <option>Cream fresh half</option>
                            <option>Cream fresh single</option>
                            <option>Cream fresh double</option>
                            <option>Cream fresh clotted</option>
                            <option>Custard</option>
                            <option>Eggs ( 1 average size)</option>
                            <option>Eggs fried</option>
                            <option>Fromage frais</option>
                            <option>Ice cream</option>
                            <option>Milk whole</option>
                            <option>Milk semi-skimmed</option>
                            <option>Milk skimmed</option>
                            <option>Milk Soya</option>
                            <option>Mousse flavored</option>
                            <option>Omelette with cheese</option>
                            <option>Trifle with cream</option>
                            <option>Yogurt natural</option>
                            <option>Yogurt reduced fat</option>

                        </optgroup>
                    </select>
                </fieldset>
            <li>
                <fieldset>
                    <legend>Fats & Sugars</legend>
                    <select name="Food Name">
                        <optgroup label="Fats & Sugars">
                            <option>PURE FAT</option>
                            <option>Bombay mix</option>
                            <option>Butter</option>
                            <option>Chewing gum</option>
                            <option>Chocolate</option>
                            <option>Cod liver oil</option>
                            <option>Crisps (chips US) average</option>
                            <option>Honey</option>
                            <option>Jam</option>
                            <option>Lard</option>
                            <option>Low fat spread</option>
                            <option>Margarine</option>
                            <option>Mars bar</option>
                            <option>Mint sweets</option>
                            <option>Oils -corn, sunflower, olive</option>
                            <option>Popcorn average</option>
                            <option>Sugar white table sugar</option>
                            <option>Sweets (boiled)</option>
                            <option>Syrup</option>
                            <option>Toffee</option>

                        </optgroup>
                    </select>
                </fieldset>
            <li>
                <fieldset>
                    <legend>Fruit</legend>
                    <select name="Food Name">
                        <optgroup label="Fruit">
                            <option>Apple (1 average)</option>
                            <option>Apple cooking</option>
                            <option>Apricot</option>
                            <option>Avocado</option>
                            <option>Banana</option>
                            <option>Blackberries each</option>
                            <option>Blackcurrant each</option>
                            <option>Blueberries  (new) 100g</option>
                            <option>Cherry each</option>
                            <option>Clementine</option>
                            <option>Currants</option>
                            <option>Damson</option>
                            <option>One average date 5g</option>
                            <option>Dates with inverted sugar 100g</option>
                            <option>Figs</option>
                            <option>Gooseberries</option>
                            <option>Grapes 100g Seedless</option>
                            <option>one average Grape 6g</option>
                            <option>Grapefruit whole</option>
                            <option>Guava</option>
                            <option>Kiwi</option>
                            <option>Lemon</option>
                            <option>Lychees</option>
                            <option>Mango</option>
                            <option>Melon Honeydew (130g)</option>
                            <option>Melon Canteloupe (130g)</option>
                            <option>Nectarines</option>
                            <option>Olives</option>
                            <option>Orange average</option>
                            <option>Orange large 350g</option>
                            <option>Papaya Diced (small handful)</option>
                            <option>Passion Fruit</option>
                            <option>Paw Paw</option>
                            <option>Peach</option>
                            <option>Pear</option>
                            <option>Pineapple</option>
                            <option>Plum</option>
                            <option>Prunes</option>
                            <option>Raisins</option>
                            <option>Raspberries each</option>
                            <option>Rhubarb</option>
                            <option>Satsuma one average 112g</option>
                            <option>Satsumas 100g</option>
                            <option>Strawberries (1 average)</option>
                            <option>Sultanas</option>
                            <option>Tangerine</option>
                            <option>Tomatoes (1 average size)</option>
                            <option>Tomatoes Cherry (1 average size)</option>




                        </optgroup>
                    </select>

                </fieldset>
            </li>
        </ul>
    </fieldset>}
@*<img src="~/Content/Images/1.jpg" width="850px" height="831px " />
    <img src="~/Content/Images/2.jpg" width="808px" height="234px " />
    <img src="~/Content/Images/3jpg" width="844px" height="262px " />
    <img src="~/Content/Images/4jpg" width="827px" height="774px " />
    <img src="~/Content/Images/5jpg" width="834px" height="1037 " />
    <img src="~/Content/Images/6jpg" width="866px" height="978px " />
    <img src="~/Content/Images/7jpg" width="833px" height="851px " />
    <img src="~/Content/Images/8jpg" width="796px" height="751px " />
    <img src="~/Content/Images/9jpg" width="818px" height="1130px " />
    <img src="~/Content/Images/10.jpg"  width="810px" height="484px " />
    <img src="~/Content/Images/11.jpg"  width="805px" height="1132px " />*@



