@using R
<fieldset>
    <legend>
        @Resource.Asparaguspasta 
    </legend>

    <div>
        <h2>
            @Resource.Asparaguspasta
        </h2>
        @*<img src="~/Content/Images/imag11.jpg" width="550px" height="550px" />*@

        <ul>
            <p>@Resource.Ingredients </p>
            <ol>
                <li>
                    Pasta: Bottle (preferred shape)
                </li>
                <li>
                    Olive oil: 1 tablespoon
                </li>
                <li>
                    Asparagus: 2 cups (fresh or sorted / boiled and drained)
                </li>
                <li>
                    Onions: 1 grain (finely chopped)

                </li>
                <li>
                    Garlic: 2 cloves (crushed)

                </li>
                <li>
                    Dry basil: half a teaspoon (ground)
                </li>
                <li>
                    Cooking Cream: (Light) Cup
                </li>
                <li>
                    Vegetable broth: a quarter cup
                </li>
                <li>
                    Salt: half a teaspoon
                </li>
                <li>
                    Black Pepper: 1/4 teaspoon
                </li>


            </ol>
        </ul>
        <ul>
            <p>@Resource.Howto  </p>
            <ol>
                <li>
                    Boil the pasta according to the instructions on the package, wrap it up, wash it in cold water and set it aside.
                </li>
                <li>
                    Heat the oil in a large skillet over medium heat, add onions and stir for 5 minutes until wilted.

                </li>
                <li>
                    Add garlic and asparagus and stir for 3 minutes, then add salt, basil, black pepper and broth and leave the mixture until boiling for 10 minutes.
                </li>
                <li>
                    Add the cream, filtered pasta, and stir until the ingredients mix, and simmer for 5 minutes.
                </li>
                <li>
                    Pour the pasta into dishes and serve hot.
                </li>

            </ol>
        </ul>
    </div>
</fieldset>