@using R
<fieldset>
    <legend>
        @Resource.carrot
    </legend>
    <div>
        <h2>
            @Resource.carrot
        </h2>
        @*<img src="~/Content/Images/image2.jpg" width="550px" height="550px" />*@

        <ul>
            <p>@Resource.Ingredients </p>
            <ol>
                <li>
                    Carrots: 2 tablets (peeled and chopped slices)

                </li>
                <li>
                    Peas: a cup (frozen)
                </li>
                <li>
                    Celery: half a cup (minced)
                </li>
                <li>
                    Salt: half a teaspoon

                </li>
                <li>
                    Cumin: 1/4 teaspoon (ground)
                </li>
                <li>
                    Lemon juice: 1 tablespoon
                </li>
                <li>
                    Olive oil: 1 tablespoon
                </li>

            </ol>
        </ul>
        <ul>
            <p>@Resource.Howto</p>
            <ol>
                <li>
                    Boil carrots, peas and celery in boiling water for 10 minutes, then filter and wash with cold water and put them in a dish.
                </li>
                <li>
                    Add salt, cumin, lemon juice, olive oil and mix well.
                </li>
                <li>
                    Serve warm or cold to taste, along with grilled meat or chicken.
                </li>


            </ol>
        </ul>
    </div>
</fieldset>