@using R
<fieldset>
    <legend>
       @Resource.Broccoli
    </legend>
    <div>
        <h2> @Resource.Broccoli </h2>
        @*<img src="~/Content/Images/imag9.jpg" width="550px" height="550px" />*@

        <ul>
            <p>@Resource.Ingredients </p>
            <ol>
                <li>
                    Olive oil: 1 tablespoon

                </li>
                <li>
                    Onions: 1 grain (chopped)
                </li>
                <li>
                    Garlic: 3 cloves (minced)
                </li>
                <li>
                    Broccoli: 3 cups (small or fresh cut flowers)

                </li>
                <li>
                    Potatoes: 1 grain (small and chopped)

                </li>
                <li>
                    Chicken broth: 4 cups
                </li>
                <li>
                    Nutmeg: a quarter of a teaspoon
                </li>
                <li>
                    Salt: half a teaspoon
                </li>
                <li>
                    Black Pepper: 1/4 teaspoon
                </li>


            </ol>
        </ul>
        <ul>
            <p> @Resource.Howto</p>
            <ol>
                <li>
                    Heat olive oil in a saucepan over medium heat, then add onions and garlic and stir until soft.
                </li>
                <li>
                    Add broccoli, potatoes and chicken broth, leave the mixture until it boils, then reduce heat and leave for 15 minutes until the ingredients are tender.

                </li>
                <li>
                    Mix the scourer with the electric mixer until it becomes a smooth mixture, return it to a saucepan and heat it.
                </li>
                <li>
                    Season with salt, pepper and nutmeg and serve hot.
                </li>


            </ol>
        </ul>

    </div>
</fieldset>