@using R
<fieldset>
    <legend>
        @Resource.Bulgurtomato
    </legend>>
    <div>
        <h2>
            @Resource.Bulgurtomato
            <h2>
                @*<img src="~/Content/Images/imag7.jpg" width="550px" height="550px" />*@

                <ul>
                    <p>@Resource.Ingredients </p>
                    <ol>
                        <li>
                            Fine white bulgur: a cup
                        </li>
                        <li>
                            Lemon juice: a quarter cup
                        </li>
                        <li>
                            Olive oil: 1 tablespoon
                        </li>
                        <li>
                            Tomato: 1 grain (chopped slices)
                        </li>
                        <li>
                            Parsley: 2 teaspoon
                        </li>
                        <li>
                            Salt: half a teaspoon

                        </li>
                        <li>
                            Black Pepper: 1/4 teaspoon

                        </li>
                        <li>
                            Option: 1 piece (finely chopped)

                        </li>

                    </ol>
                </ul>
                <ul>
                    <p>@Resource.Howto  </p>
                    <ol>
                        <li>
                            Soak the bulgur with lemon juice and leave it for half an hour until the mixture is absorbed and then stir with a fork.
                        </li>
                        <li>
                            Mix tomatoes, cucumbers, parsley in a dish, add bulgur and my heart.

                        </li>
                        Season with salt, pepper and olive oil, and serve.
                        <li>
                    </ol>
                </ul>
</div>
</fieldset>