@using R
<fieldset>
    <legend>
@Resource.Chickenhot   
    </legend>
    <div>
        <h2>
            @Resource.Chickenhot
            </h2>
        @*<img src="~/Content/Images/imag12.jpg" width="550px" height="550px" />*@

        <ul>
            <p>@Resource.Ingredients </p>
            <ol>
                <li>
                    Starch: 1 tablespoon
                </li>
                <li>
                    Honey: half a cup

                </li>
                <li>
                    Garlic: 2 cloves (crushed)
                </li>
                <li>
                    Lemon juice: 1 pill

                </li>
                <li>
                    Soy sauce: 1 tablespoon

                </li>
                <li>
                    Sesame oil: a teaspoon
                </li>
                <li>
                    Hot pepper: 1 grain (chopped)
                </li>
                <li>
                    Vegetable oil: 1 tablespoon
                </li>
                <li>

                </li>Chicken breast: 500 grams (cut into small cubes)
                <li>
                    Salt: half a teaspoon
                </li>
                <li>
                    Black Pepper: 1/4 teaspoon
                </li>
                <li>
                    Sesame: half a teaspoon
                </li>
                <li>
                    Green Coriander: 2 tbsp (minced)
                </li>

            </ol>
        </ul>
        <ul>
            <p>@Resource.Howto </p>
            <ol>
                <li>
                    Heat the oil in a large skillet over medium heat, season the chicken with salt and pepper, and stir the chicken with the oil for 5 minutes, until browned and done, then set aside.
                </li>
                <li>
                    In a small bowl, mix the starch and 1 tablespoon of water and set aside.

                </li>
                <li>
                    In a medium heat pot, mix honey, garlic, lemon, soy sauce, apple cider vinegar, sesame oil and chopped pepper, and stir until boiling
                </li>
                <li>
                    Reduce the heat, then add the starch mixture, stirring, and stir for two minutes until the mixture thickens.
                </li>
                <li>
                    Add chicken and my heart for two minutes, pour it and garnish with sesame and coriander and serve hot alongside rice
                </li>

            </ol>
        </ul>
    </div>
</fieldset>