@using R
<fieldset>
    <legend>
 @Resource.Chinesepumpkin
    </legend>
    <div>
        <h2>
            @Resource.Chinesepumpkin
        </h2>
        @*<img src="~/Content/Images/imag6.jpg" width="550px" height="550px" />*@

        <ul>
            <p>@Resource.Ingredients </p>
            <h3>Dough for kibbeh</h3>

            <ol>
                <li>	Pumpkin: 5 kg (fresh) </li>
                <li>
                    Onions: 2 tablets (medium size / peeled and cut into large pieces)
                </li>
                <li>
                    Salt: 2 tablespoon
                </li>
                <li>
                    Cinnamon: 1 tablespoon (soft)
                </li>
                <li>
                    Sweet pepper: 4 tablespoon
                </li>
                <li>
                    Cumin: 4 tablespoon (ground)
                </li>
                <li>
                    Bulgur: 3 cups (soft, half an hour in water)
                </li>
                <li>
                    Flour: 4 tablespoons

                </li>
            </ol>

            <h3>Filling</h3>
            <ol>

                <li>
                    Vegetable oil: 1 tablespoon

                </li>
                <li>
                    Onions: 2 grains (medium size / finely chopped)

                </li>
                <li>
                    Green chard: 10 leaves (medium size / finely chopped)
                </li>
                <li>
                    Salt: a teaspoon

                </li>
                <li>
                    Sweet pepper: a teaspoon
                </li>
                <li>
                    Walnut: a cup (roughly chopped)
                </li>
                <li>
                    Pomegranate molasses: 4 tablespoons
                </li>
                <li>
                    Vegetable oil: 3 tablespoons
                </li>
                <li>
                    Water: 2 tablespoons
                </li>
            </ol>
        </ul>
        <ul>
            <p>@Resource.Howto</p>
            <ol>
                <li>
                    Pumpkin is peeled off with a knife, then cut into large cubes, noting that after processing it, the pumpkin will produce about 3 and a half kilograms. Boil the pumpkin cubes for twenty minutes, noting the full ripeness. Then, drain the cubes well, and set aside.

                </li>
                <li>
                    For stuffing: add onions, with spices, to the meat's electric machine.

                </li>
                <li>
                    Bulgur is scrubbed with two hands, and squeezed, until filtered from water, then added to the onion mixture. The components are hit in the machine.

                </li>
                <li>
                    Squeeze the pumpkin, and add it with flour, to the onion and bulgur mixture in the machine. Ingredients beat until obtaining a cohesive dough. Put the dough aside. An indication that more flour can be added if needed.

                </li>
                <li>
                    Heat oil in a frying pan, add onions, and stir until it becomes light-colored. Then, add the chard with salt and sweet pepper, stirring constantly for five minutes, noting that the chard has wilted. Add walnuts and pomegranate molasses, mixing well. Place the filling mixture aside.

                </li>
                <li>
                    Wipe a Chinese bottom (30 x 40 centimeters) with a tablespoon of oil.

                </li>

                <li>
                    The dough is divided into two halves: the first half is well thinner, then extend in the bottom of the tray until it is covered, and the filling is added. Divide the second half of the dough into sections, separate the latter, and place on top of the boil next to each other, until the filling is completely covered. With wet fingers, the surface is smoothed, until smooth.

                </li>
                <li>
                    The tray content, with a sharp knife, is divided into small lozenges.

                </li>
                <li>
                    Mix the water with the remaining amount of oil well, pour it on the surface of the tray of kibbeh, and distribute it over it. The tray is covered with aluminum foil, and cooked in a preheated oven, at a temperature of 200 degrees Celsius, for forty minutes. After the mentioned time has passed, the aluminum foil is removed from the tray. The oven is heated from above. Bake the tray for five minutes.

                </li>

                <li>
                    The tray is divided into 8 equal portions. Serve hot.
                </li>
            </ol>
        </ul>
    </div>
</fieldset>