@using R
<fieldset>
    <legend>
@Resource.crisppancake
    </legend>

    <div>
        <h2>
            @Resource.crisppancake
            </h2>
        @*<img src="~/Content/Images/imag10.jpg" width="550px" height="550px" />*@

        <ul>
            <p>@Resource.Ingredients </p>
            <ol>
                <li>
                    Butter: 2 teaspoon
                </li>
                <li>
                    Milk: half a cup (low fat)
                </li>
                <li>
                    Eggs: 3 pieces
                </li>
                <li>
                    Vanilla: 1 teaspoon

                </li>
                <li>
                    Flour: Half a cup (brown)

                </li>
                <li>
                    Sugar: 1 tablespoon
                </li>
                <li>
                    Salt: 1/4 teaspoon
                </li>
                <li>
                    Cinnamon: 1/4 teaspoon (ground)
                </li>
                <li>
                    Cherry: 2 cups (dried)
                </li>


            </ol>
        </ul>
        <ul>
            <p>@Resource.Howto </p>
            <ol>
                <li>
                    Preheat the oven to 450 degrees
                </li>
                <li>
                    Spread a tablespoon of butter in a small non-stick tray and put it in the oven until the butter spoon melts.

                </li>
                <li>
                    Melt the other spoon of butter, put it in a bowl, then add the bowl of milk, eggs and vanilla and mix.
                </li>
                <li>
                    Add flour, sugar, salt, cinnamon and mix until the ingredients are mixed
                </li>
                <li>
                    In the previously prepared tray, distribute the cherry kernels, then add the pancake mixture
                </li>

            </ol>
        </ul>
    </div>
</fieldset>