@using R
<fieldset>
    <legend>
@Resource.chickenherbs 
    </legend>
    <h2>@Resource.chickenherbs </h2>
    <div>
        <h2>Grilled chicken with lemon dressing and herbs for diet</h2>
        @*<img src="~/Content/Images/imag8.jpg" width="550px" height="550px" />*@

        <ul>
            <p>@Resource.Ingredients </p>
            <ol>
                <li>
                    Paprika: two and a half tablespoons (ground)

                </li>
                <li>
                    Garlic powder: 2 tablespoons
                </li>
                <li>
                    Salt: 1 teaspoon
                </li>
                <li>
                    Onion powder: 1 tablespoon

                </li>
                <li>
                    Dried Herbs: 1 tablespoon
                </li>
                <li>
                    chili: teaspoon (ground)

                </li>
                <li>
                    Black Pepper: 1 tablespoon
                </li>
                <li>
                    Salt: half a teaspoon
                </li>
                <li>
                    Black Pepper: 1/4 teaspoon
                </li>
                <li>
                    Chicken breast: 4 breasts (crushed fillet)
                </li>

            </ol>
        </ul>
        <ul>
            <p>@Resource.Howto </p>
            <ol>
                <li>
                    In a medium bowl, mix paprika, garlic powder, salt, onion powder, dried herbs, hot pepper, and black pepper until the ingredients are mixed.

                </li>
                <li>
                    Heat the grill over medium heat and grease the chicken pieces with a mixture of spices from all sides

                </li>
                <li>
                    Grease the grill with oil with a brush, put the spiced chicken and stir from both sides until it comes down and softens
                </li>


            </ol>
        </ul>
    </div>
</fieldset>