@using R
<fieldset>
    <legend>
@Resource.Grilledchicken 
        </legend>>
    <div>
        <h2>
            @Resource.Grilledchicken
            </h2>
        @*<img src="~/Content/Images/imag5.jpg" width="550px" height="550px" />*@

        <ul>
            <p> @Resource.Ingredients </p>
            <ol>
                <li>
                    Meat Fillet: 500 grams (longitudinal sliced section)

                </li>
                <li>
                    Onions: 1 grain (chopped slices)
                </li>
                <li>
                    red pepper: 1 tablet (chopped slices)
                </li>
                <li>
                    Yellow pepper: 1 tablet (sliced minced)

                </li>
                <li>
                    Cumin: half a teaspoon (ground)
                </li>
                <li>
                    Red hot pepper: half a teaspoon (ground)
                </li>
                <li>
                    Vegetable oil: 1 tablespoon
                </li>
                <li>
                    Salt: half a teaspoon
                </li>
                <li>
                    Black Pepper: 1/4 teaspoon
                </li>
                <li>
                    Green Coriander: 2 teaspoon (fresh and chopped)
                </li>
                <li>
                    Avocado: 1 piece (peeled and sliced)
                </li>

            </ol>
        </ul>
        <ul>
            <p> @Resource.Howto </p>
            <ol>
                <li>
                    Heat a thick, wide skillet over medium heat, then add oil and meat and stir the meat for 3 minutes until it becomes brown.
                </li>
                <li>
                    Season the meat with salt and pepper, and stir for another minute, then lift the meat from the pan and set it aside.
                </li>
                <li>
                    3.	Add to the same skillet onions, red pepper, yellow pepper, cumin, ground chili pepper, and stir over medium to high heat for 5 minutes
                </li>
                <li>
                    Spread lemon slices and rosemary in the tray.
                </li>
                <li>
                    Preheat the oven to 200 degrees.
                </li>
                <li>
                    Cover the tray with aluminum foil and put it in the oven for 25 minutes.
                </li>

                <li>
                    Reduce heat, remove aluminum foil and leave it for an additional 10 minutes until the fish is completely tender.
                </li>
                <li>
                    Reddish the face and feet hot along with salads or grilled vegetables, as desired.
                </li>


            </ol>
        </ul>
    </div>
</fieldset>
