@using R
<fieldset>
    <legend>
        @Resource.fish
    </legend>
    <div>
        <h2> @Resource.fish</h2>
        @*<img src="~/Content/Images/imag3.jpg" width="550px" height="550px" />*@

        <ul>
            <p>@Resource.Ingredients </p>
            <ol>
                <li>
                    Fish: 2 pieces (full fish / your favorite type / kilo weight / cleaner)

                </li>
                <li>
                    Lemon juice: half a cup
                </li>
                <li>
                    olive oil: 2 teaspoon
                </li>
                <li>
                    Cumin: a teaspoon

                </li>
                <li>
                    Fish seasoning: half a teaspoon
                </li>
                <li>
                    Garlic: 3 cloves (crushed fine)
                </li>
                <li>
                    Black Pepper: Half a teaspoon
                </li>
                <li>
                    Lemon: 1 grain (sliced)
                </li>
                <li>
                    Rosemary: 2 sticks (fresh)
                </li>

            </ol>
        </ul>
        <ul>
            <p>@Resource.Howto </p>
            <ol>
                <li>
                    Make cracks with a sharp knife in the fish and place them in the oven tray.
                </li>
                <li>
                    Mix the olive oil, lemon juice, garlic, salt, pepper, cumin and fish spices in a good dish.
                </li>
                <li>
                    Grease the fish mixture well on all sides and pour the rest of the mixture over the fish in the tray.
                </li>
                <li>
                    Spread lemon slices and rosemary in the tray.
                </li>
                <li>
                    Preheat the oven to 200 degrees.
                </li>
                <li>
                    Cover the tray with aluminum foil and put it in the oven for 25 minutes.
                </li>

                <li>
                    Reduce heat, remove aluminum foil and leave it for an additional 10 minutes until the fish is completely tender.
                </li>
                <li>
                    Reddish the face and feet hot along with salads or grilled vegetables, as desired.
                </li>


            </ol>
        </ul>
    </div>


</fieldset>