@using R

<fieldset>
    <legend>
        @Resource.samosa
    </legend>

    <div>
        <h2>
            @Resource.samosa
        </h2>
        @*<img src="~/Content/Images/imag14.jpg" width="550px" height="550px" />*@

        <ul>
            <p> @Resource.Ingredients </p>
            <h3>For dough: </h3>
            <ol>

                <li>
                    Flour: two and a half cups
                </li>
                <li>
                    Baking powder: half a teaspoon
                </li>
                <li>
                    Water: a cup
                </li>
                <li>
                    Vegetable oil: 2 teaspoon

                </li>
            </ol>
            <h3>Filling</h3>
            <ol>
                <li>
                    Vegetable oil: 2 teaspoon

                </li>
                <li>
                    Onions: 1 grain (small size / chopped finely chopped)
                </li>
                <li>
                    Garlic: 2 cloves (finely chopped
                </li>
                <li>
                    Ginger: Half a teaspoon (fresh and grated)
                </li>
                <li>
                    Green Hot Pepper: 1 pc (cut into small cubes)
                </li>
                <li>
                    Cumin: Half a teaspoon (love)
                </li>
                <li>
                    Dry Coriander: 1 teaspoon
                </li>
                <li>
                    Peas: half a cup (frozen)
                </li>
                <li>
                    Potatoes: 1 grain (large / peeled, boiled, mashed)
                </li>
                <li>
                    oil: copious (for frying)
                </li>
            </ol>
        </ul>
        <ul>
            <p> @Resource.Howto</p>
            <ol>
                <li>
                    Dough: Mix the dry ingredients (flour and baking powder) together in a large bowl, pour oil and water, stirring, until a firm dough is obtained. Cover the dough, and set aside until free from filling preparation
                </li>
                <li>
                    For stuffing: Heat the oil in a large skillet over the fire, then add the chopped onions, garlic, ginger and hot pepper, while stirring constantly. Add the dried cumin and coriander, while continuing to stir.

                </li>
                <li>
                    Peas and potatoes are added to the skillet, which cools them. The filling mixture is cooked over low heat for ten minutes, before it is removed from the heat and allowed to cool.
                </li>
                <li>
                    The dough is divided into equal size sections; each section is spread on a table top, formed in a circle, by a cup of coffee cup, then the circle is divided into two halves, by a sharp knife.
                </li>
                <li>
                    Place a tablespoon of filling in the first half of the dough, and close it in a triangle shape. Repeat the process until quantity runs out.
                </li>
                <li>
                    Fry triangles of dough in a saucepan containing hot copious oil, until golden in color.
                </li>
            </ol>
        </ul>
    </div>

</fieldset>