@using R

<fieldset>
    <legend>
       @Resource.Marinatedchicken  
    </legend>
    <div>
        <h2>
            @Resource.Marinatedchicken
        </h2>
        @*<img src="~/Content/Images/imag15.jpg" width="550px" height="550px" />*@

        <ul>
            <p> @Resource.Ingredients </p>
            <ol>
                <li>
                    Chicken breast: 2 breasts (crushed fillet)

                </li>
                <li>
                    Salt: half a teaspoon
                </li>
                <li>
                    Black Pepper: 1/4 teaspoon
                </li>
                <li>
                    Garlic: clove (crushed fine)

                </li>
                <li>
                    Garlic: 2 cloves (crushed)

                </li>
                <li>
                    Soy sauce: 1 tablespoon
                </li>
                <li>
                    Olive oil: 1 tablespoon
                </li>
                <li>
                    Lemon zest: Half a teaspoon
                </li>
                <li>
                    Salt: half a teaspoon
                </li>
                <li>
                    Yogurt: 1 tablespoon
                </li>


            </ol>
        </ul>
        <ul>
            <p> @Resource.Howto</p>
            <ol>
                <li>
                    Mix the yogurt with garlic, olive oil and sprinkle the lemon in a dish.
                </li>
                <li>
                    Add soy sauce, salt, pepper and my heart.

                </li>
                <li>
                    Add the crushed chicken steak, mix it well and seasoning, then put it in the refrigerator for an entire night.
                </li>
                <li>
                    Heat the grill and roast the marinated chicken for 20 minutes on both sides, until browned and cooked.
                </li>
                <li>
                    Serve hot with sauteed vegetables or salad as desired.
                </li>

            </ol>
        </ul>
    </div>
</fieldset>
