@using R

<fieldset>
    <legend>
       @Resource.Mushroomchicken
    </legend>

    <div>
        <h2>
            @Resource.Mushroomchicken
        </h2>
        @*<img src="~/Content/Images/imag13.jpg" width="550px" height="550px" />*@

        <ul>
            <p> @Resource.Ingredients </p>
            <ol>
                <li>
                    Mushroom: 2 cups (sliced)
                </li>
                <li>
                    Green Pepper: 1 piece (sliced)
                </li>
                <li>
                    Yellow pepper: 1 tablet (sliced)
                </li>
                <li>
                    red pepper: 1 piece (sliced)

                </li>
                <li>
                    Chicken breast: 2 breasts (boiled, thinly sliced)

                </li>
                <li>
                    Carrot: 2 tablets (chopped slices)
                </li>
                <li>
                    Garlic: cloves (minced)
                </li>
                <li>
                    Green onions: 2 sticks (minced)
                </li>
                <li>
                    Olive oil: two tablespoons
                </li>
                <li>
                    Oregano:half pill
                </li>
                <li>
                    Lemon juice: 1 pill
                </li>
                <li>
                    Water: half a cup
                </li>
                <li>
                    Salt: 1/4 teaspoon
                </li>
                <li>
                    Black Pepper: 1/4 teaspoon
                </li>
            </ol>
        </ul>
        <ul>
            <p> @Resource.Howto</p>
            <ol>
                <li>
                    Heat the oil in a saucepan over the heat, and stir the mushrooms, slices of garlic, colored pepper and carrots over a high heat.
                </li>
                <li>
                    Add the chicken, salt, spice, lemon juice and water, cover the pot and leave it on the heat for 10 - 15 minutes without drying the water.
                </li>
                <li>
                    Add the oregano and green onions, leave an extra 5 minutes on the heat, then pour with the remaining broth and serve hot
                </li>

            </ol>
        </ul>
    </div>
</fieldset>