@using R
<fieldset>
    <legend>@Resource.Potato</legend>
    <div>
        <h2> @Resource.Potato</h2>
        @*<img src="~/Content/Images/imag1.jpg" width="550px" height="550px " />*@
        <ul>
            <p>@Resource.Ingredients </p>
            <ol>
                <li>
                    Vegetable oil: 1 tablespoon
                </li>
                <li>
                    Onions: 1 grain (medium size / finely chopped)
                </li>
                <li>
                    Onions: 1 grain (medium size / finely chopped)
                </li>
                <li>Chicken broth: 6 cups</li>
                <li>Salt: 1 teaspoon </li>
                <li> Sweet pepper: a sprinkle </li>
                <li>White pepper: a sprinkle </li>
                <li>Hot pepper: a quarter of a teaspoon </li>
            </ol>
        </ul>
        <ul>
            <p>@Resource.Howto</p>
            <ol>
                <li>
                    Peel both potatoes and eggplant, and cut into cubes. The cubes are distributed in a "microwave" bowl, and a little water is poured over them. The pot enters the microwave for ten minutes. The mixture is then filtered and set aside.
                </li>
                <li>
                    The oil is heated in a deep saucepan, add the onions, and stir until it becomes light-colored. Then, add the garlic, stirring for a minute. Pour the broth, and put the spices (salt, sweet pepper, white pepper and hot pepper), mix the diced potato and eggplant.
                </li>
                <li>
                    Remove the pan from the heat; the electric mixer strip is used to mash the mixture until smooth. The pot is put on the fire again, until the soup starts to boil, stirring constantly, until the consistency of the soup thickens.
                </li>
                <li>4.	For garnishing: heat oil in another saucepan; add garlic, stir for a minute, add tomatoes, and pour vinegar. Cover the pot, which is left on fire for three minutes. Sprinkle the oregano, stirring. s</li>
                <li>5.	How to apply: Soup is divided into six equal portions. Serve hot, with the tomato mixture distributed over the face. </li>

            </ol>
        </ul>
    </div>

</fieldset>